:root {
  --hue: 0;
}

$c1: hsla(calc(var(--hue) - 300), 61%, 69%, 1);
$c2: hsla(calc(var(--hue) - 200), 81%, 36%, 1);
$c3: hsla(calc(var(--hue) - 172), 89%, 21%, 1);
$c4: hsla(var(--hue), 73%, 55%, 1);

$gradient: linear-gradient(to bottom, 
    $c1 0%,
    $c2 30%,
    $c3 65%,
    $c4 100%
);

.text {
    background: $gradient;
    color:transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 40vw;
    font-family: 'Helvetica', Arial, sans-serif;
    line-height: 0.9;
    max-width: 1000px;

    margin:0;
    padding: 0;

    line-break: break;
    letter-spacing: -8px;
    word-break: break-all;
    text-align: center;

    @media(min-width: 1000px) {
        font-size: 30vw;
    }
}

.bg {
    background: $gradient;
    position: fixed;
    top:0;
    left:0;
    width: calc(100% - 60px);
    height: 100%;

    display: flex;
    flex: 1 0 auto;
    align-items: flex-start;
    justify-content: center;

    overflow-y: scroll;

    padding: 0 30px;
}

